*.pyc
data/
**results/
logs/
__pycache__
backend/assets
backend/venv
.DS_Store
**/.DS_Store
backend/app.db
**/.sql
webapp/migrations
notebooks/
**.wsgi
webapp/app/static/node_modules/
webapp/app/migrations/
dump.rdb
**/bundle.js
**.log
**.aux
**.out
**.pdf
**.bbl
**.blg

