html,
body {
  min-height: 100vh;
  position: relative;
}
html {
  background-color: #202020;
}

/* Style optimization */
.mt-1r {
  margin: 1rem 0;
}

#invalid-input,
#spinner,
#no-clusters-msg,
.all-pagination {
  margin: 10px 0px;
}

.query-info,
.tcash-overall,
.tornado-info,
.specific-result,
.linked-adress,
.specific-result:focus,
.result-entry.selected,
.dropdown-toggle,
.detail-page,
.selected-result > .my-accordion-header > button,
.my-accordion-body,
.detail-row {
  background-color: var(--fadedgrey);
}

.specific-result,
.specific-result:focus,
.page-button,
.select-page,
.dropdown-accordion > button,
.my-accordion-header > button {
  border: transparent;
}

.specific-result,
.specific-result:focus,
.panel-sub,
.fa-question-circle,
#instructions,
.page-button,
.copied-badge {
  color: var(--lightgrey);
}

.ta-c,
.results-pagination {
  text-align: center;
  white-space: nowrap;
}

.button-group,
.link-input,
.results-pagination {
  margin: 0.5rem 0;
}

.query-info,
.tcash-overall,
.tornado-info,
.linked-adress {
  border-radius: 5px;
  padding: 15px;
  height: 100%;
}

.specific-result,
.specific-result:focus {
  font-size: 0.8em;
}

.dropdown-accordion > *,
.dropdown-accordion > a.dropdown-item,
.dropdown-accordion.accordion-header > button > * {
  color: black;
}

#detail-table,
.detail-table {
  border-collapse: separate;
  border-spacing: 5px 5px;
  font-size: 0.9em;
  border-color: transparent;
}

/* Body styles */

.footer-react {
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.panel-title {
  color: var(--tcashgreen);
  font-weight: 700;
  border-radius: 5px;
  margin: 10px 0;
}

.panel-sub {
  font-size: 0.8em;
}

.halved-bar > *.right-side {
  display: none;
}

.center-inside {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip > .tooltip-inner {
  text-align: left;
}

.squashed-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-badge {
  font-size: 0.9em;
  background-color: var(--tcashgreen);
  color: var(--dark);
  padding: 5px 10px 5px 5px;
  /* height: 1.3rem; */
  border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
TOP
*/

.halved-bar {
  padding: 90px 10px;
}

.halved-bar > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.anon-score-group {
  display: flex;
  align-items: center;
  font-size: 1rem;
  white-space: nowrap;
}

.fa-question-circle {
  margin-left: 5px;
}

.instruct {
  justify-content: center;
}

#instructions {
  margin: 40px 0 30px 0;
  text-align: justify;
}

#no-clusters-msg {
  display: none;
}

#spinner {
  padding: 30px;
}

#anonymous-none-found {
  flex-direction: column;
}

.search-adress {
  margin: 0 0 32px 0 !important;
}

tbody tr:last-of-type > td:last-of-type {
  word-break: break-word;
}

/**
RESULTS
*/

/**
/* pagination ---------------------- */

.page-button {
  font-size: 1.5em;
  background-color: transparent;
}

.all-pagination {
  font-size: 0.8rem;
}

.pagination-container {
  justify-content: space-between;
}

.shown {
  display: flex !important;
  visibility: visible !important;
}

.select-page {
  margin: 0px 10px;
  background-color: transparent;
  color: white;
}

/* query info ---------------- */

/* tornado info ------------------ */

.two-tables {
  display: flex;
  margin-top: 10px;
}

.table-title {
  font-size: 0.9em;
  color: var(--tcashgreen);
}

.two-tables > * {
  flex: 1;
}

#tornado-data-cluster {
  display: none;
}

input.form-control.rounded {
  border-radius: 0.25rem;
}

/* results list ------------------ */
.adress-row {
  justify-content: space-between;
}

.text {
  width: 100%;
  max-width: 405px;
  text-align: left;
}

.adress-copy {
  display: flex;
  gap: 0.5rem;
}

.results-section {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px 0;
}

.tornado-results-section {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.first-part-accordion-header {
  word-wrap: break-word;
}

.etherscan-link {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-right: 10px;
}

.accordion-button:focus {
  outline: 1px solid rgb(173, 118, 0) !important;
}

.copied-badge {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  text-align: left;
  word-wrap: initial;
  position: absolute;
  top: -20px;
  left: -20px;
}

.copy {
  position: relative;
}
.fa-copy {
  text-align: right;
}

.results.loading {
  display: flex;
  justify-content: center;
  padding: 0px;
}

#results-table {
  width: 100%;
}

.result-entry {
  padding: 10px;
  border-width: 0px 0px 1px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
}

.result-entry.selected {
  outline: none;
}

.entry-address {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 500px;
  margin-right: 20px;
}

.entry-entity {
  border-radius: 5px;
  background-color: var(--fadedgreen);
  padding: 5px;
  font-size: 0.8em;
}

/* search options ----------------- */
.dropdown-lever {
  padding-top: 5px;
  border-top: dashed 1px darkgrey;
}

.dropdown-toggle {
  color: white;
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: transparent;
}

.selected-dropdown {
  background-color: var(--tcashgreen);
}

ul.dropdown-menu {
  padding: 10px;
  background-color: #5a5a5a;
  color: white;
  font-size: 0.9em;
}

.dropdown-accordion > button {
  background-color: transparent;
  font-size: 12pt;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dropdown > .dropdown-menu {
  padding: 0px;
}

.dropdown-accordion.accordion-header {
  margin-top: 10px;
}

.dropdown-accordion.accordion-item {
  border-bottom: solid var(--fadedgrey) 1px;
}

.my-input > .input-group-text {
  border-radius: 0;
}

.dropdown-accordion > .my-input > .invalid-feedback {
  margin-left: 10px;
}

.flush-right {
  text-align: right;
}

#filter-dropdown > * {
  margin-bottom: 5px;
}

.clear-filters {
  display: flex;
  justify-content: end;
}

.clear-filters > button.btn {
  font-size: small;
  background-color: transparent;
  color: var(--almostwhite);
}

/* detail page -------------------*/

.detail-page {
  border-radius: 5px;
  width: 100%;
  margin-left: 30px;
  flex: 1;
  padding: 15px;
}

.my-accordion-header {
  font-size: 1rem;
}

.my-accordion-header > button {
  width: 100%;
  padding: 10px;
  background-color: #4c4c4c;
}

.my-accordion-body {
  padding: 20px;
}

.drop-info {
  margin-bottom: 1rem;
}

.result-identifier {
  display: none;
}

.detail-row > td {
  color: white;
  border-top: transparent;
}
