
body {
    min-height: 100vh;
}

html {
    background-color: #202020;
}

.panel-title {
    color: var(--tcashgreen);
    font-weight:500;
    font-family: 'Ubuntu';
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.panel-sub {
    color: var(--lightgrey);
    font-size: 0.8em;
}

.halved-bar > *.right-side {
    display: none;
}

.center-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip > .tooltip-inner {
    text-align: left;
}

.squashed-row {
    display: flex;
    align-items: center;
}

.accordion-badge {
    margin: 0px 20px 0px 10px;
    border-radius: 5px;
    background-color: var(--fadedgreen);
    padding: 10px;
    font-size: 0.9em;
}

/**
TOP
*/

.halved-bar {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    height: 100vh;
}

.halved-bar > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.anon-score-group {
    display: flex;
    width: 100%;
    align-items: center;;
    font-family: 'Ubuntu';
    font-size: 1.2em;
    white-space: nowrap;
}

.help-circle {
    border: 50%;
    width: 25px;
    height: 25px;
    font-size: 0.8em;
    border: 1px solid var(--lightgrey);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    margin: 0px 10px;
    color: var(--lightgrey);
}

#instructions, #invalid-input, #spinner {
    margin: 10px 0px;
}
#instructions {
    margin-bottom: 30px;
}

#no-clusters-msg {
    margin: 10px 0px;
    display: none;
}

#spinner {
    padding: 30px;
}

#anonymous-none-found {
    flex-direction: column;
}

/**
RESULTS
*/

/**
/* pagination ---------------------- */

.page-button {
    font-size: 1.5em;
    color: var(--lightgrey);
    background-color: transparent;
    border:transparent;
}

.all-pagination {
    display: flex;
    margin: 10px 0px;
    font-size: 0.8em;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shown {
    display: flex !important;
    visibility: visible !important;
}

.pagination {
    align-items: center;
    margin-bottom: 5px;
}

.select-page {
    margin: 0px 10px;
    padding: 4px;
    border-radius:4px;
    background-color: black;
    color: white;
    border: transparent;
}

/* query info ---------------- */

.query-info {
    background-color: var(--fadedgrey);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

/* tornado info ------------------ */

.two-tables {
    display: flex;
    margin-top: 10px;
}

.table-title {
    font-size: 0.9em;
    color: var(--tcashgreen);
}

.two-tables > * {
    flex: 1;
}

.tornado-info {
    background-color: var(--fadedgrey);
    border-radius: 5px;
    margin-left: 30px;
    padding: 15px;
    width: 100%; 
}

#tornado-data-cluster {
    display: none;
}

/* results list ------------------ */

.results-section {
    display: flex;
}

.results-section:not(:first-child) {
    margin-top: 30px;
    margin-bottom: 20px;
}

.results-section:last-child {
    height:100%;
}


.results {
    background-color: var(--fadedgrey);
    max-height: 80vh;
    overflow: scroll;
    flex: 1;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#results-table {
    width: 100%;
}

.result-entry {
    padding: 10px;
    border-width: 0px 0px 1px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
}

.result-entry.selected {
    background-color: var(--fadedgrey);
    outline: none;
}

.entry-address {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 500px;
    margin-right: 20px;
}

.entry-entity {
    border-radius: 5px;
    background-color: var(--fadedgreen);
    padding: 5px;
    font-size: .8em;
    font-family: 'Ubuntu';
}

/* search options ----------------- */
.search-options {
    display: flex; 
    flex-wrap: wrap;
}

.button-group {
    margin-right: 10px;
}

.dropdown-lever {
    padding-top: 5px;
    border-top: dashed 1px darkgrey;
}

.specific-result, .specific-result:focus {
    padding: 0px 0px 0px 5px;
    font-size: 0.8em;
    font-family: 'Ubuntu';
    min-width: 0px;
    flex: 1;
    background-color: var(--fadedgrey);
    border: transparent;
    color: var(--lightgrey);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-options > .input-group {
    flex: 1;
}

.dropdown-toggle {
    background-color: var(--fadedgrey);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .375rem 0.75rem;
}

.selected-dropdown {
    background-color: var(--tcashgreen);
}

ul.dropdown-menu { 
    font-family: 'Ubuntu';
    padding: 10px;
    background-color: #5A5A5A;
    color: white;
    font-size: 0.9em;
}

.input-num {
    max-width: 40px;
    border: transparent;
    border-radius: 5px;
    text-align: center;
}

.dropdown-accordion > button {
    background-color: transparent;
    font-size: 12pt;
    border: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-family: 'Ubuntu';
}

.dropdown > .dropdown-menu {
    padding: 0px;
}

.dropdown-accordion.accordion-header {
    margin-top: 10px;
}

.dropdown-accordion.accordion-header > button > * {
    color: black;
}

.dropdown-accordion > *, .dropdown-accordion > a.dropdown-item {
    color: black;
}

.dropdown-accordion > a.dropdown-item {
    font-weight: 300;

}

.dropdown-accordion.accordion-item {
    border-bottom: solid var(--fadedgrey) 1px;
}

.my-input > .input-group-text {
    border-radius: 0;
}

.dropdown-accordion > .my-input > .invalid-feedback {
    margin-left: 10px;
}

.flush-right {
    text-align: right;
}

#filter-dropdown > *{
    margin-bottom: 5px;
}

.clear-filters {
    display: flex;
    justify-content: end;
}

.clear-filters > button.btn { 
    font-size: small;
    background-color: transparent;
    color: var(--almostwhite);

}

/* detail page -------------------*/

.detail-page {
    background-color: var(--fadedgrey);
    border-radius: 5px;
    width: 100%;
    margin-left: 30px;
    flex: 1;
    padding: 15px;
}


.my-accordion-header {
    font-size: 18px;
    margin-bottom: 2px;
}

.selected-result > .my-accordion-header > button {
    background-color: var(--fadedgrey);
}

.my-accordion-header > button {
    padding: 10px;
    width: 100%;
    background-color: #4C4C4C;
    border: transparent;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.my-accordion-body {
    background-color: var(--fadedgrey);
    padding: 20px;
}

.expand-symbol {
    font-size: 1.3em;
}

.result-identifier {
    display: none;
}

#detail-table, .detail-table {
    border-collapse: separate;
    border-spacing: 5px 5px;
    margin-left: -5px;
    width: 100%;
    font-size: 0.9em;
    border-color: transparent;
}

.detail-row > td{
    background-color: var(--fadedgrey);
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    border-top: transparent;
}

.detail-row > td:last-child {
    width: 100%;

}

