/**
GENERIC
*/

html {
  scroll-behavior: smooth;
  background-color: #202020;
  bottom: 0px;
}

body {
  background: linear-gradient(
    rgb(50, 50, 50) 5rem,
    rgb(40, 40, 40) 10rem,
    rgb(30, 30, 30) 20rem,
    rgb(20, 20, 20) 30rem,
    rgb(10, 10, 10) 40rem,
    rgb(5, 5, 5) 50rem
  );
}

:root {
  --tcashgreen: #44f1a6;
  --fadedgreen: #44f1a678;
  --lightgrey: #a3a3a3;
  --almostwhite: #ececec;
  --fadedgrey: #5b5b5b86;
}

body,
input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

header,
footer,
h1,
h2,
h3,
h4,
.panel-title {
  font-family: "PT Mono", monospace;
  background-color: transparent;
  font-weight: 400;
}

div {
  color: white;
}

.full-page {
  min-height: 100vh;
  padding-top: 5rem;
}
.full-page:last-of-type {
  padding-bottom: 80px;
}

h1 {
  margin: 80px 0px 40px;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--tcashgreen);
}

h4 {
  color: white;
}

.right {
  text-align: right;
}

/**
HEADER
*/

.nav {
  background-color: transparent !important;
  transition: background-color 200ms linear;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
}
header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
}
header ul {
  margin: 0;
}
.nav {
  background-color: transparent !important;
  transition: background-color 200ms linear;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
}
.nav.scrolled {
  background-color: hsla(154, 5%, 12%, 0.9) !important;
  transition: background-color 500ms linear;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
}
#navbarSupportedContent {
  justify-content: flex-end;
}
.navbar-nav {
  gap: 0 1rem;
}
.nav-link {
  white-space: nowrap;
}
span {
  color: var(--white);
}
.navbar-toggler-icon {
  display: inline;
}
a {
  color: var(--tcashgreen);
}
a:hover {
  color: white;
}

.pool-drop:hover{
  color: #000 !important;
}

/**
MAIN PAGE SEARCH SECTION
*/

.main-react {
  margin-top: 90px;
}

.justify-center {
  justify-content: center;
}

.input-group.fixed-width,
.input-adress {
  /* height: 1rem ; */
  font-size: 1.2rem;
  border: transparent;
}

.input-adress {
  width: 80%;
}

.address-form {
  max-width: 80%;
}

#address-form > .input-group > .btn {
  background-color: white;
  border-radius: 0px 0.25rem 0.25rem 0;
  padding: 0px 0.75rem;
}

.results {
  overflow: auto;
}

.btn-fill {
  background-color: var(--tcashgreen);
}

.right-submit-icon {
  background-color: white;
  border: transparent;
  border-radius: 0px 6px 6px 0px;
  flex-wrap: nowrap;
}

.search-bar {
  /* border: transparent;
    padding: 10px; */
  min-width: 200px;
  font-size: 1.2rem;
  border: transparent;
}

.instruct {
  justify-content: center;
}

.investigate {
  height: 2.7rem;
  align-self: flex-start;
}

/**
ABOUT
*/

.left-section-header,
.right-section-header {
  display: block;
  width: 100%;
  padding: 40px 30px 30px;
  position: relative;
  margin-bottom: 80px;
}

.right-section-header:before,
.right-section-header:after,
.left-section-header:before,
.left-section-header:after {
  width: 95%;
  height: 95%;
  border: 1px solid var(--fadedgreen);
  border-radius: 6px;
  content: "";
  position: absolute;
  display: block;
}

.left-section-header:before {
  top: 0;
  left: 15px;
}

/* // whatever offset amount you want */
.left-section-header:after {
  top: 15px;
  left: -5px;
}

.right-section-header:before {
  top: 0;
  right: 15px;
}

.right-section-header:after {
  top: 15px;
  right: -5px;
}

.right-section-header {
  text-align: right;
}

.section-desc {
  color: var(--lightgrey);
  margin: 25px 25px;
  width: 80%;
}

.section-desc strong {
  color: var(--almostwhite);
}

.right > .section-desc,
.right.section-desc {
  margin-left: auto;
}

.subsect {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

/* KAILI'S
.center-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
*/

.block-title {
  font-size: 0.9em;
  margin: 2rem 0 1rem;
  border-bottom: 1px solid var(--tcashgreen);
  min-height: 2em;
  text-transform: uppercase;
}

.block-text {
  font-size: 0.9em;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 1rem;
}
